<ion-header>
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref='/tabs/feed'></ion-back-button>
		</ion-buttons>
    <ion-title padding center text-center>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>

		<img src="assets/icon/logo.png" width="150" height="150">

	<ion-list>

		<ion-item class="warna">
		  <ion-label position="floating" >Email</ion-label>
		  <ion-input type="text" [(ngModel)]="email"></ion-input>
		</ion-item>
	  
		<ion-item class="warna">
		  <ion-label position="floating" >Password</ion-label>
		  <ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
	  
	  </ion-list>

		<ion-button fill="solid" expand="block" (click)="login()">Login</ion-button>
		<ion-label >Don't have account?</ion-label>
		<ion-button fill="solid" expand="block" (click)="goToRegister()">Register</ion-button>

</ion-content>