<ion-content padding center text-center style=" background-color: transparent">
	<ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button style="color:white" color="white" fill="outline" shape="round" (click)="backTo()" type="bounded">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

		<img src="assets/icon/logo.png" width="200" height="200">

	<ion-list>

			<ion-item>
				<ion-label position="floating" color="white" style="color:white" >Email</ion-label>
				<ion-input type="text" [(ngModel)]="email" style="color:white"></ion-input>
			</ion-item>
			
			<ion-item >
				<ion-label position="floating" style="color:white">Password</ion-label>
				<ion-input type="password" [(ngModel)]="password" style="color:white"></ion-input>
			</ion-item>
			
	  </ion-list>

		<ion-button fill="solid" shape="round" expand="block" (click)="login()" style="--background: linear-gradient(to bottom left, #0099ff 0%, #66ff66 100%);
    --border-color: 3px red; --box-shadow: 5px grey;" type="unbounded color:grey">Login</ion-button>
		<ion-button class="posisi" fill="clear" style="color:white; text-underline-position: below;" size="small" shape="round" >Forgot Password ?</ion-button>
		<br>
		<br>
		<br>
		<ion-label style= "color:white; font:12pt">Don't have account?</ion-label>
		<br>
		<ion-button style="color:white" color="white" fill="outline" shape="round" (click)="goToRegister()" type="bounded" >
			<ion-label>Register</ion-label></ion-button>

</ion-content>