.camera {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: black;
	display: none;
}

.filebtn {
	opacity: 0;
	position: absolute;
	top: -100em;
	left: -100em;
}

.center {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.active {
	border: 2px solid black;
}

.no-face {
	font-weight: bold;
	text-align: center;
	font-style: italic;
}

ion-content {
    --background: linear-gradient(to left, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}