.camera {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: black;
	display: none;
}

.filebtn {
	opacity: 0;
	position: absolute;
	top: -100em;
	left: -100em;
}

.center {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.active {
	border: 2px solid black;
}

.no-face {
	font-weight: bold;
	text-align: center;
	font-style: italic;
}
@import url("https://fonts.googleapis.com/css?family=Grand+Hotel");

.font{
	--ion-font-family:'Grand Hotel';
	font-family: var(--ion-font-family) !important;
	font-size: 25px;
	color:black;
	letter-spacing: 1px;
}
