<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-card *ngFor="let post of posts | async" (click)="goTo(post.id)">
    <ion-img src="https://ucarecdn.com/{{ post.id }}/-/preview/{{ post.effect }}"></ion-img>
    <ion-card-header>
      <ion-card-title>
        {{ post.title }}
      </ion-card-title>
      <ion-card-subtitle>
        by {{ post.author }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ post.desc }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>