<ion-header>
	<ion-toolbar>
		<ion-title>Post</ion-title>
		<ion-buttons>
			<ion-back-button defaultHref="tabs/feed"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<app-loading *ngIf="!post"></app-loading>

	<ion-card *ngIf="post as postData">
		<ion-img src="https://ucarecdn.com/{{ postID }}/-/preview/{{ effect }}"></ion-img>
		<ion-card-header>
			<ion-card-title>
				{{ postData.title }}
			</ion-card-title>
			<ion-card-subtitle>
				by {{ postData.author }}
			</ion-card-subtitle>
		</ion-card-header>
		<ion-item (click)="toggleHeart()" lines="none">
			<ion-icon [name]="heartType"></ion-icon>
			<ion-label> {{ postData.likes.length }} likes</ion-label>
		</ion-item>
		<ion-card-content>
			<p>{{ postData.desc }}</p>
		</ion-card-content>
		<ion-list>
			<ion-list-header>Comment</ion-list-header>
			<ion-item  *ngFor="let comment of postData.comment">
				<ion-avatar slot="start"></ion-avatar>
				<ion-label><p>{{ comment }}</p></ion-label>
			</ion-item>
		</ion-list>
	</ion-card>
	<ion-item *ngIf="currentUser">
		<ion-input placeholder="Insert Comment" [(ngModel)]="comment"></ion-input>
		<ion-button fill="outline" shape="round" slot="end" (click)="insertComment(comment)">
			<ion-icon name="arrow-round-forward"></ion-icon>
		</ion-button>
	</ion-item>
</ion-content>