<ion-header>
	<ion-toolbar>
		<ion-title>Post</ion-title>
		<ion-buttons>
			<ion-back-button defaultHref="tabs/feed"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<app-loading *ngIf="!post"></app-loading>

	<ion-card *ngIf="post as postData">
		<ion-img src="https://ucarecdn.com/{{ postID }}/-/preview/{{ effect }}"></ion-img>
		<ion-card-header>
			<ion-card-title>
				{{ postData.title }}
			</ion-card-title>
			<ion-card-subtitle>
				by {{ postData.author }}
			</ion-card-subtitle>
		</ion-card-header>
		<ion-item (click)="toggleHeart()" lines="none">
			<ion-icon [name]="heartType"></ion-icon>
			<ion-label> {{ postData.likes.length }} likes</ion-label>
		</ion-item>
		<ion-card-content>
			<p>{{ postData.desc }}</p>
		</ion-card-content>

	</ion-card>
</ion-content>