<ion-header>
		<ion-toolbar>
			<ion-title class="font" style="background: linear-gradient(to bottom right, #0099ff 0%, #99ff99 99%);">Greenstagram</ion-title>
		</ion-toolbar>
	</ion-header>

<ion-content padding>

	<div id="profile-info" *ngIf="username">
		<ion-grid>
			<ion-row>
				<ion-col size="4" class="user-image">
					<ion-img src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/200x200/center/"></ion-img>
				</ion-col>
				<ion-col size="8">
					<p color="light">Username: {{ username }}</p>
					<p color="light">Komunitas: {{ community }}</p>
					<p color="light">{{ jumlahpost }} Posts</p>
				</ion-col>			
			</ion-row>
			<ion-button shape="round" expand="block" routerLink="/tabs/edit-profile">Edit Profile</ion-button>
			<br>
			<ion-button shape="round" expand="block" (click)="signout()">Log Out</ion-button> 
		</ion-grid>
	</div>

	<app-loading *ngIf="!posts"></app-loading>

	<div *ngIf="posts">
		<ion-card *ngFor="let post of posts">
			<ion-img (click)="goTo(post)"src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/center/" ></ion-img>
		</ion-card>
	</div>

</ion-content>
