#images {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 100%;
	width: 606px;
}

.image {
	margin-left: 1px;
	margin-right: 1px;
}

.main-image {
	width: 200px;
	height: 200px;
}

.user-image {
	border-radius: 50%;
}
@import url("https://fonts.googleapis.com/css?family=Grand+Hotel");

.font{
	--ion-font-family:'Grand Hotel';
	font-family: var(--ion-font-family) !important;
	color: black;
	font-size: 25px;
	letter-spacing: 1px;
}