<ion-content padding center text-center style=" background-color: transparent">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button style="color:white" color="white" fill="outline" shape="round" (click)="backTo()" type="bounded">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
	</ion-fab>
	<br>
	<br>
	<br>

    <img src="assets/icon/logo.png" width="200" height="200">

    <ion-item>
      <ion-label position="floating" color="white" style="color:white" >Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" style="color:white"></ion-input>
    </ion-item>
    <br>
    <br>
    <br>

      <ion-button fill="solid" shape="round" expand="block" (click)="send(email)" style="--background: linear-gradient(to bottom left, #0099ff 0%, #66ff66 100%);
      --border-color: 3px red; --box-shadow: 5px grey;" type="unbounded color:grey">Reset Password</ion-button>

    

</ion-content>
