  <ion-content  padding center text-center style=" background-color: transparent">
		
		<ion-fab vertical="top" horizontal="end" slot="fixed">
			<ion-fab-button style="color:white" color="white" fill="outline" shape="round" (click)="backTo()" type="bounded">
				<ion-icon name="close"></ion-icon>
			</ion-fab-button>
		</ion-fab>
		<br>
		<br>
		<br>
		<br>
		
		<ion-list>
  
		  <ion-item>
			<ion-label position="floating" color="white" style="color:white" >Username</ion-label>
			<ion-input type="text" [(ngModel)]="username" style="color:white"></ion-input>
			</ion-item>
			
			<ion-item>
				<ion-label position="floating" color="white" style="color:white" >Email</ion-label>
				<ion-input type="text" [(ngModel)]="email" style="color:white"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label position="floating" color="white" style="color:white" >Nama</ion-label>
					<ion-input type="text" [(ngModel)]="name" style="color:white"></ion-input>
					</ion-item>
		
		  <ion-item>
			<ion-label position="floating" color="white" style="color:white" >Password</ion-label>
			<ion-input type="password" [(ngModel)]="password" style="color:white"></ion-input>
		  </ion-item>

		  <ion-item>
			<ion-label position="floating" color="white" style="color:white" >Confirm Password</ion-label>
			<ion-input type="password" [(ngModel)]="cpassword" style="color:white"></ion-input>
		  </ion-item>
		
		</ion-list>
  
		<ion-button fill="solid" shape="round" expand="block" (click)="register()" style="--background: linear-gradient(to bottom left, #0099ff 0%, #66ff66 100%);
		--border-color: 3px red; --box-shadow: 5px grey;" type="unbounded color:grey">Signup</ion-button>
		
  </ion-content>