<ion-header>
	<ion-toolbar color="secondary">
		<ion-buttons>
			<ion-back-button defaultHref="login" color="light"></ion-back-button>
		</ion-buttons>
	  <ion-title>Register</ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content padding>
	  <ion-list>
  
		  <ion-item class="warna">
			<ion-label position="floating" color="light">Username</ion-label>
			<ion-input type="text" [(ngModel)]="username"></ion-input>
			</ion-item>
			
			<ion-item class="warna">
				<ion-label position="floating" color="light">Email</ion-label>
				<ion-input type="text" [(ngModel)]="email"></ion-input>
				</ion-item>

				<ion-item class="warna">
					<ion-label position="floating" color="light">Nama</ion-label>
					<ion-input type="text" [(ngModel)]="name"></ion-input>
					</ion-item>
		
		  <ion-item class="warna">
			<ion-label position="floating" color="light">Password</ion-label>
			<ion-input type="password" [(ngModel)]="password"></ion-input>
		  </ion-item>

		  <ion-item class="warna">
			<ion-label position="floating" color="light">Confirm Password</ion-label>
			<ion-input type="password" [(ngModel)]="cpassword"></ion-input>
		  </ion-item>
		
		</ion-list>
  
		<ion-button fill="solid" expand="block" color="secondary" (click)="register()">Signup</ion-button>
  </ion-content>